.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js

css/*
js/* 
js/reveal.js
lib/*
test/*
plugin/*
*.yml
*.json
CONTRIBUTING.md
Gruntfile.js
Procfile
slides.md
web.js