/**
 * makeover theme for reveal.js.
 * Author: Arjun Kalburgi
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(../../lib/font/league-gothic/league-gothic.css);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


/**
 * Solarized colors by Ethan Schoonover
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Override theme settings (see ../template/settings.scss)
$mainColor: #B83B5E;
$headingColor: #ED4F67;
$headingTextShadow: #6A2C70;
$backgroundColor: #EFD281;
$linkColor: #6A2C70;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #6A2C70;



// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
